<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('template/head')%>
</head>
<body>
  <%- include('template/navbar')%>

  <div class="container-wrapper">
    <div class="posts">
      <article class="post">
        <div class="post__header">
          <div class="post__header-title post__header-title-all">
            <%= article.title %>
          </div>
          <div class="post__actions">
            <% if (username) { %>
              <a class="post__action" href="../edit/<%= article.id %>">編輯</a>
            <% } %>
          </div>
        </div>
        <div class="post__info">
          <%= article.createdAt %>
        </div>
        <div class="post__content post__content-all">
          <%= article.content %>
        </div>
      </article>
    </div>
  </div>
</body>
</html>