<!DOCTYPE html>
<html lang="en">
  
<head>
  <%- include('template/head')%>
</head>

<body>
  <%- include('template/navbar')%>
  <div class="container-wrapper">
    <div class="container">
      <div class="edit-post">
        <form action="/editArticle" method="POST">
          <input type="hidden" name="id" value="<%= locals.article? article.id:null %>" />
          <input type="hidden" name="csrftoken" value="" />
          <div class="edit-post__title">
            發表文章：
          </div>
          <div class="edit-post__input-wrapper">
            <input class="edit-post__input" name="title" placeholder="請輸入文章標題"
          value="<%= locals.article? article.title:null %>" />
          </div>
          <div class="edit-post__input-wrapper">
            <input class="edit-post__input" name="tags" placeholder="請輸入文章標籤"
              value="<%= locals.article? article.tags:null %>" />
          </div>
          <div class="edit-post__input-wrapper">
            <textarea rows="20" class="edit-post__content"
              name="content"><%= locals.article? article.content:null %></textarea>
          </div>
          <div class="edit-post__btn-wrapper">
            <input class="edit-post__btn" type="submit" value="送出"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>