<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('template/head')%>
  <script src="../js/questions.js"></script>
</head>
<body>
  <%- include('template/navbar')%>

  <section class="questions">
    <h2 class="section__title">
      FAQ - 常見問題
    </h2>
    <ul id='questions__list'>
      <% questions.forEach(questionInfo => {
        const {
          question,
          answer,
          question_number,
        } = questionInfo
      %> 
        <li>
          <span>Q<%= question_number %>: </span> <%= question %>
          <div class="answer__hidden">
            <%= answer %>
          </div>
        </li>
      <% }) %> 
    </ul>
  </section>
  
  <%- include('template/footer')%>
</body>
</html>